[master]
{{cloudformation_results.stack_outputs.Master}}  hostname=master01.{{localdomain}} openshift_schedulable=true

[node01]
{{cloudformation_results.stack_outputs.Node01}}  hostname=node01.{{localdomain}}

[node02]
{{cloudformation_results.stack_outputs.Node02}} hostname=node02.{{localdomain}}

[nodes:children]
node01
node02

[openshift:children]
nodes
master

[OSEv3:vars]
openshift_master_default_subdomain={{publicdomain}}

[openshift:vars]
ansible_user=ec2-user
ansible_ssh_private_key_file=~/openshift_aws.pem

